body {
    padding: 0;
    font-family: "Montserrat", "Helvetica", sans-serif;
}

*:active {
    outline: none;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Color Combo:
 * http://www.colorcombos.com/color-schemes/22/ColorCombo22.html
 */
.title-large {
    text-decoration: none;
    font-size: 54px;
    font-family: "Montserrat", "Helvetica", sans-serif;
    text-transform: uppercase;
    display: block;
    text-align: center;
    color: rgb(193, 49, 0);
    margin-bottom: 54px;
}

.content { max-width: 1080px;
    margin: 0 auto;
    padding-top: 2%;
}

#login {
    background: none;
    border: none;
    margin: 0 auto;
    display: block;
    font: 36px "Montserrat", "Helvetica", sans-serif;
    text-transform: uppercase;
    background-color: #FF9900;
    padding: 8px 12px;
    cursor: pointer;
    outline: none;
}

#login:hover {
    background-color: #CC6600;
    outline: none;
}

#friendList:after {
    content: "";
    display: table;
    clear: both;
}

#friendList .instructions {
    font-weight: bold;
    color: #CC6600;
    font-size: 36px;
    text-align: center;
}

#friendList li {
    list-style-type: none;
    width: 33%;
    float: left;
    margin-bottom: 30px;
    /* To vertically align text
     * http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
     */
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#friendList a {
    text-decoration: none;
    color: #CC6600;
    transition: 0.3s border;

    /* Make it take up whole cell */
    display: block;
    width: 100%;
}

#friendList a:hover {
    border-bottom: 1px solid rgb(193, 49, 0)
}

#friendList img {

}

#friendList .friendName {
}
